<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="faq" id="faq">
            <module name="Abanoub_FAQ"/>
        </route>
    </router>
</config>
                    <!-- this is the route for frontend
                    <router id="standard">  for front
                    <router id="admin">   for back
                    -->
